@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --background: black;
  --lessOpacityBg: rgba(0, 0, 0, 0.13);
  --textColor: white;
  --paragraphColor: #cfcfcf;
  --primaryColor: #5e76f6;
  --secondaryColor: #2e2e2e;
  --pagePad: 15px 20px;
  --textShadow: -110px 10px 24px var(--primaryColor),
    -130px -10px 126px var(--primaryColor),
    -120px -10px 50px var(--primaryColor), -130px 10px 20px var(--primaryColor),
    -130px -10px 20px var(--primaryColor);
  --dropShadow: drop-shadow(55px -2px 30px var(--primaryColor));
  --h3: 1.4rem;
}

html,
body {
  padding: 0;
  margin: 0;
  /* width: 100vw;
    height: 100vh; */
  background-color: var(--background);
  color: var(--textColor);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-family: "Gill Sans", sans-serif;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upsidedown-h .verticle-title {
  font-size: 20px;
}

.upsidedown-h {
  /* text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr; */
  padding: 0;
  margin: 0;
  font-size: var(--h2);
  position: sticky;
  top: 0;
  font-family: "Gill Sans", sans-serif;
}

p {
  line-height: 1.5;
  color: var(--paragraphColor);
}

.form-space {
  padding: 1pc 0;
}

#header {
  /* height: 100vh;
  position: relative; */
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* buttons */
button:hover {
  cursor: pointer;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--h3);
}

.hero-btn button {
  border-radius: 50%;
  border: solid 6px var(--textColor);
  color: var(--textColor);
  background-color: var(--background);
  margin-right: 10px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  /* flex-grow: 2; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: changeColorBlink 2.5s infinite;
  animation: changeColorBlink 2.5s infinite;
  font-size: var(--icon);
  padding: 15px;
  height: 100px;
  width: 100px;
}

.hero-btn button:hover {
  -webkit-animation: changeColorBlink 0.3s infinite;
  animation: changeColorBlink 0.3s infinite;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}

.hero-btn button:focus {
  background-color: var(--primaryColor);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.primary-btn {
  background-color: var(--textColor);
  border: 1px solid var(--textColor);
  color: var(--background);
}

.primary-btn:hover {
  color: var(--primaryColor);
}
/* end buttons */

.social-links {
  display: flex;
  justify-content: center;
}

.social-links .social-icon {
  height: 10vh;
  width: 10vw;
}

#navbar {
  padding: var(--pagePad);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: var(--textShadow);
  -webkit-filter: var(--dropShadow);
  filter: var(--dropShadow);
  /* height: 10vh; */
  /* background-color: orange; */
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 26px;
  margin: 0;
}

.nav-left h1 {
  margin: 0;
  text-shadow: var(--textShadow);
  -webkit-filter: var(--dropShadow);
  filter: var(--dropShadow);
}

.nav-left img {
  padding-right: 8px;
  z-index: 100;
  /* -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; */
  cursor: pointer;
}

.nav-left img:hover {
  -webkit-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  transform: rotate(47deg);
}

.nav-right {
}

.nav-right button {
  color: var(--textColor);
  background: none;
  border: none;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.ionicon .s-ion-icon {
  align-self: center;
}

/*  */

.hero-section {
  display: flex;
  /* height: 100vh; */
  width: 100%;
  align-items: center;
  position: relative;
  font-family: "Gill Sans", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
}

.hero .hero-header-sec {
  text-shadow: var(--textShadow);
  -webkit-filter: var(--dropShadow);
  filter: var(--dropShadow);
  text-transform: uppercase;
}

.hero-btn-sec {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 100px 0 50px 0;
  /* position: absolute;
  bottom: 0; */
}

.hero h2 {
  font-size: var(--heading);
  text-shadow: var(--textShadow);
  -webkit-filter: var(--dropShadow);
  filter: var(--dropShadow);
  font-size: var(--heading);
  margin: 0 0 20px 0;
}

.hero h6 {
  font-size: var(--subHeading);
  text-shadow: var(--textShadow);
  -webkit-filter: var(--dropShadow);
  filter: var(--dropShadow);
  margin-top: 0;
}

/* .image-sec {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  width: 50vw;
} */

.image-sec #mePhoto {
  text-shadow: var(--textShadow);
  -webkit-filter: var(--dropShadow);
  filter: var(--dropShadow);
  z-index: -10;
}

/* under hero */
.image-bg-sec {
  /* padding: 0 50px; */
  background: url("../images/building.jpg");
  background-color: var(--background);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) 
}

.image-bg-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* Black overlay with 50% opacity */
}

.image-bg-sec button {
  color: var(--textColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  background: none;
  border: none;
  font-size: var(--h3);
  color: var(--primaryColor);
}

.image-bg-sec button:hover {
  color: var(--textColor);
}

.image-bg-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: var(--textColor);
  font-family: "Gill Sans", sans-serif;
  font-size: var(--skillHeading);
}

.image-bg-text h2 {
  font-size: var(--heading);
}

.image-bg-text h3 {
  /* filter: invert(1); */
  /* color: black; */
  z-index: -10;
}

/* text info */
.text-info-sec {
  display: flex;
  justify-content: flex-end;
  /* background: url("../images/kingdom.JPG"); */
  background-color: var(--background);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-bg-sec .upsidedown-h {
  /* font-size: var(--heading); */
  height: 100%;
}

.text-box {
  z-index: 10;
  background-color: var(--background);
}

.text-box button {
  background: none;
  border: none;
}

.text-box .social-icon {
  color: var(--primaryColor);
}
/* headings */

.header-section {
  font-family: "Gill Sans", sans-serif;
  min-height: 200vh;
  position: relative;
  /* padding-bottom: 400px; */
}

.head-img-section {
  position: sticky;
  z-index: -10;
  width: 100%;
  display: flex;
  /* justify-content: left; */
  /* top: 0; */
}

.head-img {
  width: 50%;
}

.stick-top {
  top: 0;
  justify-content: left;
}

.stick-bottom {
  bottom: 0;
  justify-content: right;
  align-items: flex-start;
}

.bottom-img-sec {
  /* position: sticky;
  z-index: -10;
  width: 100%; */
  display: flex;
  justify-content: right;
  align-items: flex-start;
  bottom: 0;
}

.head-img-section .head-img {
  position: absolute;
  width: 50vw;
  /* top: 0;
  left: 0; */
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -120px;
  padding-top: 400px;
  /* height: 100vh; */
}

.headers h2 {
  font-size: var(--tagline);
  color: var(--textColor);
  background-color: var(--lessOpacityBg);
}

.headers h3 {
  background-color: var(--background);
  font-size: var(--sectionHeading);
  padding: 30px 60px;
  z-index: 100;
  text-transform: uppercase;
}
.info-section {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-section h6 {
  font-size: var(--sectionSubH);
  margin: 20px 0 5px 0;
  text-transform: uppercase;
}

.things-i-can-do {
  width: 100%;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  margin: 450px 0 350px 0;
}

.things-i-can-do h4 {
  padding: 50px 0;
  font-size: var(--otherheadings);
  text-transform: uppercase;
  background-color: var(--lessOpacityBg);
  width: fit-content;
  width: 100%;
}

.things-i-can-do h4:nth-child(odd) {
  text-align: left;
}

.things-i-can-do h4:nth-child(even) {
  text-align: right;
}
/* header section */

/* skill and message */
.skill-section {
  /* background-color: var(--primaryColor); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150vh;
  font-family: "Gill Sans", sans-serif;
  margin-top: 100px;
  /* -webkit-box-shadow: -1px -1px 20px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 20px 6px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 20px 6px rgba(0,0,0,0.75); */
}

.skills {
  /* padding: 50px 100px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
}

.skill {
  border-radius: 25px;
  border: solid var(--textColor) 1.5px;
}

.skill-section .skill {
  padding: 7px 15px;
  /* margin: 0 5px; */
  cursor: pointer;
  font-size: var(--tableItems);
}

.skill:hover {
  color: var(--primaryColor);
  background-color: var(--textColor);
}

.skill-section .skill h4 {
  margin: 0;
}

.myMessage-section {
  font-family: "Gill Sans", sans-serif;
  min-height: 120vh;
  width: 100%;
  background: url("../images/blueliquid2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.myMessage-section h2 {
  font-size: var(--tagline);
  text-align: center;
}

.myMessage-section h2,
h6 {
  margin: 0 auto;
  padding: 20px 0;
}

.myMessage-section h6 {
  font-size: var(--h3);
  margin-bottom: 60px;
}

.message-table {
  /* justify-content: space-evenly; */
  display: flex;
  align-items: center;
}

.message-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  /* flex-flow: wrap;
  gap: 0 250px; */
  width: 40%;
}

.message-info-tab {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse;
  width: 50%;
  padding-left: 40px */
}

/* .message-info-tab:nth-child(even) {
  flex-direction: row;
}

.message-info-tab:nth-child(odd) {
  flex-direction: row-reverse;
} */

.message-info .icon-circle {
  border-radius: 50%;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 1;
  margin-left: 20px;
  height: 80px;
  width: 80px;
}

.specialty-icon {
  height: 30px;
  width: 30px;
}

.message-info h3 {
  font-size: var(--h3);
  margin: 0;
}

.message-info h6 {
  font-size: var(--tableItems);
  font-weight: 300;
  /* padding-right: 100px; */
}

.message-logo {
  -webkit-animation: rotate-vert-center 2s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both infinite;
  animation: rotate-vert-center 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both
    infinite;
}

/* .projects {
  color: var(--textColor);
} */

.project-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 100px 0 250px 0;
}

.project-section h2 {
  font-size: var(--tagline);
  text-align: center;
}

.my-projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  /* padding: 40px 0; */
  position: relative;
  /* border-radius: 10%; */
  height: 300px;
  width: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-project {
  width: 100%;
  height: 100%;
}

.project-skills {
  font-size: var(--sectionHeading);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-skills .skill {
  padding: 3px 6px;
  font-size: var(--tableItems);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .display-project {
  border-radius: 5%;
}

.hover-project {
  display: none;
}

.project:hover .display-project {
  display: none;
  border-radius: 5%;
}

.project:hover .hover-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primaryColor);
  height: 100%;
  width: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
}

.hover-project button {
  background: none;
  border: none;
  font-size: var(--h3);
}

.project-btn-sec {
  display: flex;
  /* flex-direction: column; */
}

.contact-section {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.contact-section h3 {
  color: var(--textColor);
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

/* details */
.way-of-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 40px;
}

.way-of-contact,
a {
  text-decoration: none;
  color: var(--primaryColor);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.way-of-contact h4 {
  font-size: 7vh;
  min-width: 4pc;
  min-height: 4pc;
  border-radius: 25%;
  padding: 10px;
  margin: 10px 15px 0 15px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.way-of-contact h5 {
  font-size: 2.2vh;
  color: var(--paragraphColor);
}
/* end of details  */

/* form area */
.contact-form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background: url("../images/blueliquid2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form form {
  width: 100%;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-form button {
  cursor: pointer;
}

.form-name-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.form-name-section input textarea {
  width: 40%;
  display: flex;
  justify-content: center;
}

.contact-input {
  /* width: 100%; */
  margin: 20px 0;
  border-radius: 35px;
  color: var(--textColor);
  background-color: transparent;
  border: solid var(--textColor) 1px;
  outline: none;
  min-height: 45px;
}

.contact-form input {
  padding: 0 20px;
}

.contact-form textarea {
  height: 80px;
  padding: 20px;
}

.firstName {
  margin-right: 10px;
}

.contact-form button {
  width: 50%;
  padding: 10px 20px;
  align-self: flex-end;
}

.contact-form button {
  margin-top: 30px;
  border-radius: 20px;
  padding: 12px 30px;
  font-size: var(--placeholder);
}

.contact-input:hover {
  background-color: rgba(98, 224, 181, 0.12);
}

.contact-input:active {
  -webkit-box-shadow: 0 0 20px 14px var(--primaryColor);
  box-shadow: 0 0 20px 14px var(--primaryColor);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.contact-input::-webkit-input-placeholder {
  color: var(--textColor);
  font-size: var(--placeholder);
  align-self: center;
  font-family: "Gill Sans", sans-serif;
}

.divider {
  margin: 30px 0;
  border-top: solid var(--secondaryColor) 2px;
}

.social-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-btns button {
  font-size: 5vh;
  padding: 10px 11px;
  margin: 0 10px;
  border-radius: 50px;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  border: solid var(--textColor) 1.5px;
  cursor: pointer;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-btns button:hover {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}

.social-btns button:active {
  -webkit-box-shadow: 0 0 20px 14px var(--primaryColor);
  box-shadow: 0 0 20px 14px var(--primaryColor);
}

#load-wrap {
  position: fixed;
  z-index: 100;
}

#loadpic {
  position: absolute;
}

#loadgif {
  position: absolute;
}

#loadgif img {
  animation: move-across 1.5s linear reverse;
  z-index: 20;
}

.load-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box {
  height: 10vh;
  width: 10vw;
  background-color: var(--primaryColor);
  /* background: url('../images/mario.jpg'); */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.after {
  /* outline: solid 1px var(--background); */
  -webkit-animation: flip-vertical-right 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@media screen and (min-width: 1100px) {
  :root {
    --heading: 3.5rem;
    --otherheadings: 5rem;
    --subHeading: 2rem;
    --sectionHeading: 2.5rem;
    --sectionSubH: 0.8rem;
    --p: 1.3rem;
    --h2: 5rem;
    --tagline: 4rem;
    --tableItems: 1.1rem;
    --icon: 3rem;
    --placeholder: 1.3rem;
  }

  .head-img-section img {
    width: 400px;
  }

  .headers h2 {  
    padding: 100px;
  }

  .upsidedown-h {
    text-transform: uppercase;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
  }

  .text-info-sec .image-bg-sec {
    width: 50vw;
    display: flex;
    align-items: flex-end;
  }

  .text-box {
    height: 100%;
    width: 50vw;
  }

  .text-box p {
    padding: 100px 100px 50px 100px;
  }

  .skills {
    padding: 50px 100px;
  }

  .message-table {
    justify-content: space-evenly;
  }

  .message-info-tab {
    flex-direction: row-reverse;
    width: 50%;
    padding-left: 40px;
  }

  .contact-form-area {
    width: 50%;
  }

  .contact-details {
    width: 50%;
  }

  .mobile-title {
    display: none;
  }

  #loadgif img {
    top: 10%;
    height: 27pc;
    width: 20pc;
  }

  #loadpic {
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* background-size: 30%; */
  }

  #loadpic img {
    -webkit-animation: roll-across 1.5s linear;
    animation: roll-across 1.5s linear;
    height: 6pc;
    width: 6pc;
  }

  .message-info-text {

  }
}

@media screen and (max-width: 1100px) {
  :root {
    --heading: 2.5rem;
    --otherheadings: 2.5rem;
    --subHeading: 1rem;
    --sectionHeading: 1.25rem;
    --sectionSubH: 0.4rem;
    --p: 0.6rem;
    --h2: 2.5rem;
    --tagline: 2rem;
    --tableItems: 1.1rem;
    --icon: 3rem;
  }

  #header {
  background: url('../images/blueliquid2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .image-sec {
    display: none;
  }

  .text-info-sec {
    display: flex;
    flex-direction: column;
  }

  .text-box p {
    padding: 20px
  }

  .upsidedown-h {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .hero-btn-sec {
    flex-direction: column;
  }

  .text-info-sec {
    flex-direction: column-reverse;
  }

  /* .head-img-section img {
    width: 50%;
  } */

  .skills {
    padding: 25px 50px;
  }

  .myMessage-section {
    height: 200vh;
  }

  .message-table {
    flex-direction: column;
  }

  .message-info-tab {
    width: 100%;
  }

  .project img {
    width: 100%;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-section h2 {
    text-align: center;
  }

  .contact-section h3 {
    display: none;
  }

  .mobile-title {
    font-size: var(--heading);
  }

  #loadgif img {
    /* top: 20%;
    height: 17pc;
    width: 10pc; */
    display: none;
  }

  #loadpic {
    position: absolute;
    top: 50%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* background-size: 30%; */
    -webkit-animation: roll-in-left-boom 1.6s ease-out both;
    animation: roll-in-left-boom 1.6s ease-out both;
  }

  #loadpic img {
    height: 8pc;
    width: 8pc;
  }

  .project {
    margin-bottom: 30px;
  }
}
